<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    <script>
      function displayClusterText() {
          let dropdown = document.getElementById("clusterDropdown");
          let textDiv = document.getElementById("displayedClusterText");
          textDiv.innerHTML = dropdown.value;
      }
      // Populate the initial text when the page loads
      window.onload = displayClusterText;
      </script>
      
  </body>
  
</html>
