<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    <script>
      function toggleContent(elementId) {
          var x = document.getElementById(elementId);
          if (x.style.display === "none") {
              x.style.display = "block";
          } else {
              x.style.display = "none";
          }
      }

      function updateClusterText() {
          // get the selected cluster from the dropdown
          var selectedCluster = document.getElementById("clusterDropdown").value;
          // update the content of the displayedClusterText div based on the selected cluster
          document.getElementById("displayedClusterText").innerHTML = clusterData[selectedCluster];
      }
    </script>
  </body>
</html>
